@mixin message-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    #message {

        .header {

            .search-wrapper {
                background: map-get($background, card);

                .search {

                    .mat-icon {
                        color: map-get($foreground, icon);
                    }

                    input {
                        background: map-get($background, card);
                        color: map-get($foreground, text);
                    }
                }
            }
        }
        .content {

            .sidebar {

                .sidebar-content {

                    .card {
                        background: map-get($background, card);
                    }
                }
            }
        }

        
        .mat-tooltip
        {
            color:green !important;
            border-radius:4px;
            margin:25px;
            max-width:250px;
            padding-left:8px;
            padding-right:8px;
            overflow:hidden;
            text-overflow:ellipsis
        }
    }
}