<div id="trading" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-9">
                <h2>Trading Platform</h2>
            </div>
            <div class="row-col-6"></div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > Trading Platform
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <!-- Trading Records Start -->
            <div class="main-tab" *ngIf="tradeRecordsDiv">
                <div class="header-row">
                    <div class="row-col-9">
                        <h2 style="padding-bottom: 0;"> My Traders </h2>
                    </div>
                    <div class="row-col-6"></div>
                    <div class="row-col-3">
                        <button *ngIf="createTradeButtonView" class="add-item add-item--main-button" style="float:right" (click)="divShowHide(2)"> Create Trade </button>
                    </div>
                </div>
            </div>
            <!-- Trading Records End -->
            <!-- Trading Form Start -->
            <div class="main-tab" *ngIf="tradingFormDiv">
                <div class="header-row">
                    <div class="row-col-9">
                        <h2 style="padding-bottom: 0;"> Select Trade </h2>
                    </div>
                    <div class="row-col-6"></div>

                    <div class="row-col-3">
                        <button class="add-item add-item--back-button" style="float:right" (click)="divShowHide(1)"> Back </button>
                    </div>
                </div>
            </div>
            <hr *ngIf="tradingFormDiv">
            <!-- Trading Form End -->
            <!-- Trading Records Start -->
            <table mat-table [dataSource]="tradingRecordsData" *ngIf="tradeRecordsDiv">
                <ng-container matColumnDef="identifier">
                    <th mat-header-cell *matHeaderCellDef> Identifier </th>
                    <td mat-cell *matCellDef="let element"> {{element.identifier}} </td>
                </ng-container>
                <ng-container matColumnDef="cpDateInfo">
                    <th mat-header-cell *matHeaderCellDef> CP Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.cpDateInfo}} </td>
                </ng-container>
                <ng-container matColumnDef="brokerName">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="{'d-none': isBrokerView === 'Y'}"> Broker </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="{'d-none': isBrokerView === 'Y'}"> {{element.brokerName}} </td>
                </ng-container>
                <ng-container matColumnDef="chartererName">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="{'d-none': isChartererView === 'Y'}"> Charterer </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="{'d-none': isChartererView === 'Y'}"> {{element.chartererName}} </td>
                </ng-container>
                <ng-container matColumnDef="ownerName">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="{'d-none': isOwnerView === 'Y'}"> Owner </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="{'d-none': isOwnerView === 'Y'}"> {{element.ownerName}} </td>
                </ng-container>
                <ng-container matColumnDef="vesselName">
                    <th mat-header-cell *matHeaderCellDef> Vessel </th>
                    <td mat-cell *matCellDef="let element"> {{element.vesselName}} </td>
                </ng-container>
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Progress </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-progress-bar mode="determinate" value="{{element.progress}}"></mat-progress-bar>    
                    </td>
                </ng-container>
                <ng-container matColumnDef="statusInfo">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element" ><h4 class="{{ element.classInfo }}">{{ element.statusInfo }}</h4></td>
                </ng-container>
                <ng-container matColumnDef="isChartererAccepted" >

                    <th 
                        mat-header-cell 
                        *matHeaderCellDef 
                        mat-sort-header 
                        class="action-head" 
                        [ngClass]="{'d-none': isChartererView === 'N'}"
                    > 
                        {{ acceptRejectTitle }}
                    
                    </th>

                    <td mat-cell *matCellDef="let row" class="action" 
                        
                        [ngClass]="{'d-none': isChartererView === 'N'}" >
                        
                        <button 
                            [ngClass]="{'d-none': row.isChartererAccepted != 'P'}" 
                            mat-button class="click-icon click-icon--done"
                            (click)="showActiveModal('Y', row.id,row.ownerId,row.chartererId,row.brokerId)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                        </button>

                        <h4 style="font-size: 22px;font-weight: bold; color: #23da28;" [ngClass]="{'d-none': row.isChartererAccepted != 'Y'}" >{{ row.tradeType }}</h4>

                        <button [ngClass]="{'d-none': row.isChartererAccepted != 'P'}" mat-button class="click-icon click-icon--clear" [disabled]="row.isChartererAccepted === 'N'"
                            (click)="showInActiveModal('N', row.id,row.ownerId,row.chartererId,row.brokerId)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                        </button>

                        <h4 style="font-size: 22px;font-weight: bold; color: #78b8ef;" [ngClass]="{'d-none': row.isChartererAccepted != 'N'}">Boycotted</h4>
                        
                    </td>

                </ng-container>

                <ng-container matColumnDef="isOwnerAccepted" >
                   
                    <th 
                        mat-header-cell 
                        *matHeaderCellDef 
                        mat-sort-header 
                        class="action-head" 
                        [ngClass]="{'d-none': isOwnerView === 'N'}"
                    > 
                        {{ acceptRejectTitle }}
                    
                    </th>

                    <td mat-cell  *matCellDef="let row" class="action" [ngClass]="{'d-none': isOwnerView === 'N'}">
                        
                        <button 
                                [ngClass]="{'d-none': row.isOwnerAccepted != 'P'}"  
                                mat-button class="click-icon click-icon--done" 
                                [disabled]="row.isOwnerAccepted === 'Y'"
                                (click)="showActiveModal('Y', row.id,row.ownerId,row.chartererId)"
                        >
                            <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                        </button>

                        <h4 style="font-size: 22px;font-weight: bold; color: #23da28;" [ngClass]="{'d-none': row.isOwnerAccepted != 'Y'}" >{{ row.tradeType }}</h4>


                        <button [ngClass]="{'d-none': row.isOwnerAccepted != 'P'}" mat-button class="click-icon click-icon--clear" [disabled]="row.isOwnerAccepted === 'N'"
                            (click)="showInActiveModal('N', row.id,row.ownerId,row.chartererId)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                        </button>

                        <h4 style="font-size: 22px;font-weight: bold; color: #78b8ef;" [ngClass]="{'d-none': row.isOwnerAccepted != 'N'}">Boycotted</h4>
                        
                    </td>

                </ng-container>

                <ng-container matColumnDef="action" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="action-head"> Action </th>
                    <td mat-cell  *matCellDef="let row" class="action">

                        <!-- Broker Edit Button Start -->
                        <button 
                            [ngClass]="{'d-none': isBrokerView == 'N' || row.isDetailTermDone == '1' }" 
                            mat-button class="click-icon click-icon--done"  style="background:#f28a38;"
                            (click)="editView(row.id)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                        </button>
                        <!-- Broker Edit Button End -->

                        <!-- Charterer Edit Button Start -->
                        <button 
                            [ngClass]="{'d-none': row.isChartererAccepted != 'Y' || isChartererView == 'N' || row.isDetailTermDone == '1' }" 
                            mat-button class="click-icon click-icon--done"  style="background:#f28a38;"
                            (click)="editView(row.id)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                        </button>
                        <!-- Charterer Edit Button End -->

                        <!-- Owner Edit Button Start -->
                        <button 
                            [ngClass]="{'d-none': row.isOwnerAccepted != 'Y' || isOwnerView == 'N' || row.isDetailTermDone == '1' }" 
                            mat-button class="click-icon click-icon--done"  style="background:#f28a38;"
                            (click)="editView(row.id)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                        </button>
                        <!-- Owner Edit Button End -->

                        <!-- Recap View Button Start -->
                        <button 
                            [ngClass]="{'d-none': row.isMainTermDone != '1'}" 
                            mat-button class="click-icon click-icon--done"  style="background:#f28a38;"
                            (click)="recapView(row.id)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">remove_red_eye</mat-icon>
                        </button>
                        <!-- Recap Viwe Edit Button End -->

                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tradingRecordsDisplayColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: tradingRecordsDisplayColumn;"></tr>
            </table>
            <mat-paginator #paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" *ngIf="tradeRecordsDiv" ></mat-paginator>
            <!-- Trading Records End -->
            <!-- Std Div Start -->
            <div class="content-card" *ngIf="tradingFormDiv" style="margin-top: -25px !important">
                <form [formGroup]="tradingForm" (ngSubmit)="tradingFormSubmit()">
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>Trade Type</mat-label>
                        <mat-select formControlName="tradeType" matSelect (selectionChange)="setTradeFormView($event)">
                            <mat-option [value]="1"> Bid </mat-option>
                            <mat-option [value]="2"> Offer </mat-option>
                            <!-- <mat-option [value]s="3"> Both</mat-option> -->
                        </mat-select>
                        <mat-error *ngIf="tradingForm.get('tradeType').hasError('required')"> Trade Type Is Required</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="tradeBothView" class="customFormfullWidth" appearance="outline">
                        <mat-label> {{ bidNameLabel }}* </mat-label>
                        <input matInput formControlName="std_bid_name" >
                        <mat-error *ngIf="tradingForm.get('std_bid_name').hasError('required')"> {{ bidNameLabel }} is required </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="tradeChartererView" class="customFormfullWidth" appearance="outline">
                        <mat-label>Charterer*</mat-label>
                        <mat-select formControlName="chartererId" matSelect (selectionChange)="onChangeCharterer($event)">
                            <mat-option *ngFor="let chartererData of chartererRecordsServerSideResponseData" [ngClass]="{'d-none': chartererData.isActive === 'N'}" 
                            [value]="chartererData.id"> {{chartererData.username}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="tradingForm.get('chartererId').hasError('required')"> Charterer Is Required</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="tradeOwnerView" class="customFormfullWidth" appearance="outline">
                        <mat-label>Owner*</mat-label>
                        <mat-select formControlName="ownerId" [disabled]="ownerStatusInfo == 'Y'"  matSelect (selectionChange)="onChangeOwner($event)" >
                            <mat-option *ngFor="let ownerData of ownerRecordsServerSideResponseData" [ngClass]="{'d-none': ownerData.isActive === 'N'}" 
                            [value]="ownerData.id" > {{ownerData.username}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="tradingForm.get('ownerId').hasError('required')"> Owner Is Required</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="tradeOwnerView" class="customFormfullWidth" appearance="outline">
                        <mat-label>Vessel*</mat-label>
                        <mat-select formControlName="vesselId"  matSelect >
                            <mat-option *ngFor="let vesselData of vesselRecordsServerSideResponseData" [ngClass]="{'d-none': vesselData.isActive === 'N'}" 
                            [value]="vesselData.id" > {{vesselData.vessel_name}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="tradingForm.get('vesselId').hasError('required')"> Vessel Is Required</mat-error>
                    </mat-form-field>
                    <button *ngIf="tradeBothView" style="margin-right: 200px; margin-top: 10px;" class="cst-modal__button cst-modal__button--submit" type="submit">Submit</button>
                </form>
                <br>
                <br>
                <br>
                <table *ngIf="tradeSubmitInformationView"
                    style="
                        background: white;
                        border: 0.1px #00000045 solid;
                        /* border-radius: 50px; */
                        padding: 1%;
                        margin-top: -80px;
                        clear: both;
                        width: 90%;
                        margin-left: 50px;
                        margin-bottom: 60px;
                    "
                >
                    <tr style="text-align: center;">
                        <th>
                            <table>
                                <tr>
                                    <th colspan="5" style="padding: 10px;background: #67aeec;color: white;font-size: 22px;margin-bottom: 10px;">{{ companyName }}</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <th style="border: 1px #bababa solid;font-size: 22px;font-weight: bold;">Invited User</th>
                                    <th style="border: 1px #bababa solid;font-size: 22px;font-weight: bold;">Role</th>
                                    <th style="border: 1px #bababa solid;font-size: 22px;font-weight: bold;">Email</th>
                                    <th style="border: 1px #bababa solid;font-size: 22px;font-weight: bold;">Mobile</th>
                                    <th style="border: 1px #bababa solid;font-size: 22px;font-weight: bold;">Status</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> {{ ownerName }} </td>
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> Owner </td>
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> {{ ownerEmailID }} </td>
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> {{ ownerMobileNumber }} </td>
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> Pending </td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> {{ chartererName }} </td>
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> Charterer </td>
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> {{ chartererEmailID }} </td>
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> {{ chartererMobileNumber }} </td>
                                    <td style="border: 1px #bababa solid;font-size: 22px;color: #474343;font-weight: bold;"> Pending </td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>
            </div>
            <!-- Std Div End -->
            <!-- Active Modal  Start -->
            <div class="cst-modal" [ngClass]="{'cst-modal--active' : activeModalStatus}">
                <div class="cst-modal__overlay"></div>
                <div class="cst-modal__content">
                    <div class="cst-modal__header">
                        <h4 class="cst-modal__title" style="margin: 0 auto;"> Do you want to participate this Trade ?</h4>
                        <button class="cst-modal__close" (click)="hideActiveModal()">&times;</button>
                    </div>
                    <div class="cst-modal__footer">
                        <button class="cst-modal__button cst-modal__button--active" style="width: 110px !important;" (click)="showActionTypeModal()">Participate</button>
                        <button class="cst-modal__button cst-modal__button--cancel" style="width: 110px !important;" (click)="hideActiveModal()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- Active Modal End -->
            <!-- In Active Modal Start -->
            <div class="cst-modal" [ngClass]="{'cst-modal--active' : inActiveModalStatus}">
                <div class="cst-modal__overlay"></div>
                <div class="cst-modal__content">
                    <div class="cst-modal__header">
                        <h4 class="cst-modal__title" style="margin: 0 auto;"> Do you want to boycott this Trade finally?</h4>
                        <button class="cst-modal__close" (click)="hideInActiveModal()">&times;</button>
                    </div>
                    <div class="cst-modal__footer">
                        <button class="cst-modal__button cst-modal__button--inactive" style="width: 110px !important;" (click)="acceptRejectChartererOwnerTradeRequest()">Boycott</button>
                        <button class="cst-modal__button cst-modal__button--cancel" style="width: 110px !important;" (click)="hideInActiveModal()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- In Active Modal End -->
            <!-- Action Type Modal Start -->
            <div class="cst-modal" [ngClass]="{'cst-modal--active' : actionTypeModal}">
                <div class="cst-modal__overlay"></div>
                <div class="cst-modal__content">
                    <div class="cst-modal__header">
                        <h4 class="cst-modal__title" style="margin: 0 auto;"> Choose In Which You Want To Participate On This Trade ?</h4>
                        <button class="cst-modal__close" (click)="hideActionTypeModal()">&times;</button>
                    </div>
                    <div class="cst-modal__footer">
                        <button class="cst-modal__button cst-modal__button--active" style="width: 110px !important;" (click)="showPerformaModal()">Performa</button>
                        <button class="cst-modal__button cst-modal__button--active" style="width: 110px !important;" (click)="showExecutedModal()">Executed</button>
                        <button class="cst-modal__button cst-modal__button--cancel" style="width: 110px !important;" (click)="hideActionTypeModal()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- Action Type Modal End -->
            <!-- Performa Modal Start -->
            <div class="cst-modal" [ngClass]="{'cst-modal--active' : performaModal}">
                <div class="cst-modal__overlay"></div>
                <div class="cst-modal__content">
                    <div class="cst-modal__header">
                        <h4 class="cst-modal__title" style="margin: 0 auto;"> Please select cp form to continue</h4>
                        <button class="cst-modal__close" (click)="hidePerformaModal()">&times;</button>
                    </div>
                    <div class="cst-modal__body">
                        <form [formGroup]="performaForm" (ngSubmit)="performaFormSubmit()">
                            <mat-form-field class="customFormfullWidth" appearance="outline">
                                <mat-label>CP FORM*</mat-label>
                                <mat-select formControlName="cpFormId" matSelect>
                                    <mat-option *ngFor="let performaData of cpFormRecordsServerSideResponseData" [ngClass]="{'d-none': performaData.isActive === 'N'}" 
                                    [value]="performaData.id"> {{performaData.cpformName}} </mat-option>
                                </mat-select>
                                <mat-error *ngIf="performaForm.get('cpFormId').hasError('required')"> CP FORM Is Required</mat-error>
                            </mat-form-field>
                            <button style="margin-right: 200px; margin-top: 10px;" class="cst-modal__button cst-modal__button--submit" type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="cst-modal__footer">
                        <button class="cst-modal__button cst-modal__button--cancel" style="width: 110px !important;" (click)="hidePerformaModal()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- Performa Modal End -->
            <!-- Executed Modal Start -->
            <div class="cst-modal" [ngClass]="{'cst-modal--active' : executedModal}">
            <div class="cst-modal__overlay"></div>
            <div class="cst-modal__content">
                <div class="cst-modal__header">
                    <h4 class="cst-modal__title" style="margin: 0 auto;"> Please select Fixture to continue</h4>
                    <button class="cst-modal__close" (click)="hideExecutedModal()">&times;</button>
                </div>
                <div class="cst-modal__body">
                    <form [formGroup]="executedForm" (ngSubmit)="executedFormSubmit()">
                        <mat-form-field class="customFormfullWidth" appearance="outline">
                            <mat-label>Fixture*</mat-label>
                            <mat-select formControlName="copyTradingId" matSelect>
                                <mat-option *ngFor="let executedData of fixtureRecordsServerSideResponseData" [ngClass]="{'d-none': executedData.isActive === 'N'}" 
                                [value]="executedData.id"> {{executedData.identifier}} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="executedForm.get('copyTradingId').hasError('required')"> Fixture Is Required</mat-error>
                        </mat-form-field>
                        <button style="margin-right: 200px; margin-top: 10px;" class="cst-modal__button cst-modal__button--submit" type="submit">Submit</button>
                    </form>
                </div>
                <div class="cst-modal__footer">
                    <button class="cst-modal__button cst-modal__button--cancel" style="width: 110px !important;" (click)="hideExecutedModal()">Cancel</button>
                </div>
            </div>
        </div>
        <!-- Executed Modal End -->
        </div>
    </div>
</div>