<div id="vessel" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <!-- <div class="header-row">
            <div class="col m3 l3">
                <h2 class="text-left" >Draw C/P</h2>
            </div>
            <div class="col l6 m6"></div>
            <div class="col s3 m3">
                <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <b>Draw
                    C/P </b>
            </div>
        </div> -->
        <div class="header-row">
            <div class="row-col-3">
                <h2 style="float: left;">Draw C/P</h2>
            </div>
            <div class="row-col-6"></div>

            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <b>
                        Draw c/p </b>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">

            <div class="main-tab">

                <div style="padding: 3%;" class="row">
                    <div class="text-left col l12 m12 s12">
                        <div class="text-blue" style="color: #2196f3; margin-bottom:3%;"><b>1. {{clusename}}</b></div>
                    </div>
                    <div class="row">
                        <table>
                            <tr *ngFor="let c of clauses">
                                <td><i class="material-icons" (click)="view(c.id)">remove_red_eye</i></td>
                                <td><i class="material-icons" (click)="editToggle('editPanel',c.id)"
                                        aria-label="Toggle quick panel" style="color: #1e88e5;">create</i></td>
                                <td>
                                    <mat-checkbox></mat-checkbox>

                                </td>
                                <td>(a)</td>
                                <td style="width: 100%;" [innerHtml]="c.termsName">
                                </td>
                            </tr>
                            <!-- <tr>
                                <td><i class="material-icons">remove_red_eye</i></td>
                                <td><i class="material-icons" style="color: #1e88e5;">create</i></td>
                                <td>
                                        <mat-checkbox></mat-checkbox>
                               
                                </td>
                                <td>(b)</td>
                                <td>The Owener agree to let, and the Charterers agree to hire Vessel From the time of
                                    delivert for,<a>about 3 to about 5 months </a>within below mentioned trading limits
                                </td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">remove_red_eye</i></td>
                                <td><i class="material-icons" style="color: #1e88e5;">create</i></td>
                                <td> 
                                <mat-checkbox></mat-checkbox></td>
                                <td>(c)</td>
                                <td>The Owener agree to let, and the Charterers agree to hire Vessel From the time of
                                    delivert for,<a>about 3 to about 5 months </a>within below mentioned trading limits
                                </td>
                            </tr> -->
                        </table>
                    </div>
                    <div class="row" *ngIf="customCl">
                        <h4>Custome Amendments</h4>
                        <table>
                            <tr *ngFor="let n of newClause;let i=index">
                                <td><i class="material-icons" (click)="view(n.id)">remove_red_eye</i></td>
                                <td><i class="material-icons" (click)="customToggle('customPanel',n.id)"
                                        aria-label="Toggle quick panel" style="color: #1e88e5;">create</i></td>
                                <td>
                                    <mat-checkbox></mat-checkbox>

                                </td>
                                <td>{{i+1}})</td>
                                <td style="width: 100%;" [innerHtml]="n.termsName">
                                </td>
                            </tr>
                            <!-- <tr>
                                    <td><i class="material-icons">remove_red_eye</i></td>
                                    <td><i class="material-icons" style="color: #1e88e5;">create</i></td>
                                    <td>
                                            <mat-checkbox></mat-checkbox>
                                   
                                    </td>
                                    <td>(b)</td>
                                    <td>The Owener agree to let, and the Charterers agree to hire Vessel From the time of
                                        delivert for,<a>about 3 to about 5 months </a>within below mentioned trading limits
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons">remove_red_eye</i></td>
                                    <td><i class="material-icons" style="color: #1e88e5;">create</i></td>
                                    <td> 
                                    <mat-checkbox></mat-checkbox></td>
                                    <td>(c)</td>
                                    <td>The Owener agree to let, and the Charterers agree to hire Vessel From the time of
                                        delivert for,<a>about 3 to about 5 months </a>within below mentioned trading limits
                                    </td>
                                </tr> -->
                        </table>
                    </div>
                    <div class="row" style="    padding: 3% 0;">
                        <!-- <div class="add-button text-left row-col-1">
                                <i class="material-icons" >add</i> 
                        </div>
                        Add -->
                        <button class="mat-fab mat-accent" (click)="toggleOpen('addPanel')"
                            aria-label="Toggle quick panel"><span class="mat-button-wrapper" style="font-size: 36px;
                            color: #fff;">+</span></button>
                    </div>
                    <div class="header-row">
                        <div class="row-col-6 text-left">
                            <button class="add-item add-item--back-button"
                                (click)="Previous(previusClause)">Previous</button>
                        </div>
                        
                        <div class="row-col-6 text-right">
                            <button class="submit-item submit-item--back-button" *ngIf="nextStatus == false"
                                (click)="next(nextClause)">Next</button>
                        <button class="submit-item submit-item--back-button " *ngIf="nextStatus == true" >Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <fuse-sidebar name="addPanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
        <!-- <add-detail-clause></add-detail-clause> -->
        <!-- hello -->
        <div class="heading center">
            <div class="mat-elevation-z8" style="padding: 2%;">
                <div class="">
                    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="customClause" name="customClause">
                    </angular-editor>
                </div>
            </div>

            <div class="header-row text-right">
                <div style="width: 100%; padding: 3% 0;">
                    <button class="submit-item submit-item--back-button" (click)="addClause()">Add</button>
                </div>


            </div>
        </div>
    </fuse-sidebar>

    <fuse-sidebar name="editPanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
        <!-- <add-detail-clause></add-detail-clause> -->
        <div class="heading center">
            <div class="mat-elevation-z8" style="padding: 2%;">
                <div class="">
                    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="editclausetext"
                        name="editclausetext"></angular-editor>
                </div>
            </div>

            <div class="header-row text-right">
                <div style="width: 100%; padding: 3% 0;">
                    <button class="submit-item submit-item--back-button" (click)="editterms(editid)">Edit</button>
                </div>


            </div>
        </div>
    </fuse-sidebar>

    <fuse-sidebar name="customPanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
        <!-- <add-detail-clause></add-detail-clause> -->
        <div class="heading center">
            <form>
                <div class="mat-elevation-z8" style="padding: 2%;">
                    <div class="">
                        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="editclausetext"
                            name="editclausetext"></angular-editor>
                    </div>
                </div>
                <div class="header-row text-right">
                    <div style="width: 100%; padding: 3% 0;">
                        <button class="submit-item submit-item--back-button" (click)="customEdit(ceditid)" >Edit</button>
                    </div>


                </div>
            </form>
        </div>
    </fuse-sidebar>
</div>

<div class="cst-modal" [ngClass]="{'cst-modal--active' : showModalStatus}">
    <div class="cst-modal__overlay"></div>
    <div class="cst-modal__content">
        <div class="cst-modal__header">
            Add New Clause
        </div>
        <div class="cst-modal__body">
            <div class="row">
            </div>
        </div>
        <div class="cst-modal__footer">
            <button class="cst-modal__button cst-modal__button--delete">ADD</button>
            <!-- <button class="cst-modal__button cst-modal__button--cancel" (click)="showDeleteModal()">Cancel</button> -->
        </div>
    </div>
</div>

<!-- Add panel -->


<!-- Edit -->