<div id="add-user" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-3">
                <h2>Clause Category Management</h2>
            </div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <a
                        routerLink="/apps/clause-category-management"> Clause Category Management </a> > <b> Clause Category Add </b>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <div class="main-tab">
                <div class="header-row">
                    <div class="row-col-3">
                        <h2 style="padding-bottom: 0;"> Add Clause Category </h2>
                    </div>
                    <div class="row-col-3">
                        <button routerLink="/apps/clause-category-management" class="add-item add-item--back-button"> Back </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="content-card">
                <form [formGroup]="typeManagementForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>CP Form*</mat-label>
                        <mat-select formControlName="cpFormId" matSelect >
                            <mat-option *ngFor="let cpFormData of cpFormData" [ngClass]="{'d-none': cpFormData.isActive === 'N'}" [value]="cpFormData.id"> {{cpFormData.cpformName}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="typeManagementForm.get('cpFormId').hasError('required')"> CP Form is required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Clause Category Name* </mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="typeManagementForm.get('name').hasError('required')"> Clause Category Name is required </mat-error>
                        <mat-error *ngIf="typeManagementForm.get('name').hasError('name')"> Please enter a valid Clause Category Name </mat-error>
                    </mat-form-field>
                    <button class="cst-modal__button cst-modal__button--submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>