<div id="draw" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-9">
                <h2>Draw C/P Platform</h2>
            </div>
            <div class="row-col-6"></div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <a
                        routerLink="/apps/draw-management"> Draw C/P Platform</a> > Executed Charter Party
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <div class="main-tab">
                <div class="header-row">
                    <div class="row-col-9">
                        <h2 style="padding-bottom: 0;"> Select Draw C/P Platform </h2>
                    </div>
                    <div class="row-col-6"></div>
                    <div class="row-col-3">
                        <button class="add-item add-item--back-button" style="float:right" (click)="existingDrawCPView()"> Existing Draw C/P Platform</button>
                    </div>
                </div>
            </div>
            <hr>
            <mat-radio-group aria-label="Please select the applicable Charter Party." class="customFormfullWidth" style="margin-top: 20px;">
                <mat-label class="labelCustom">Please select the applicable Charter Party.</mat-label>
                <br>
                <mat-radio-button name="charterPartyTypeID" style="margin-left: 40px !important; margin-top: 20px !important; margin-bottom: 20px !important; " class="customFormfullWidth"  *ngFor="let CharterPartyTypeArray of CharterPartyTypeArray" [checked]="CharterPartyTypeArray.id === 1" [ngClass]="{'d-none': CharterPartyTypeArray.isActive === 'N'}"  [value]="CharterPartyTypeArray.id" (click)="setApplicabelCharterParty(CharterPartyTypeArray.id)"> {{CharterPartyTypeArray.name}} </mat-radio-button>
            </mat-radio-group>
            <div class="cst-modal" [ngClass]="{'cst-modal--active' : activeModalStatus}">
                <div class="cst-modal__overlay"></div>
                <div class="cst-modal__content">
                    <div class="cst-modal__header">
                        <h4 class="cst-modal__title" style="margin: 0 auto;">Are you sure you want to Accept this Draw C/P Platform?</h4>
                        <button class="cst-modal__close" (click)="hideActiveModal()">&times;</button>
                    </div>
                    <div class="cst-modal__footer">
                        <button class="cst-modal__button cst-modal__button--active" (click)="updateDataStatus()">Accept</button>
                        <button class="cst-modal__button cst-modal__button--cancel" (click)="hideActiveModal()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- Active Modal End -->
            <!-- In Active Modal Start -->
            <div class="cst-modal" [ngClass]="{'cst-modal--active' : inActiveModalStatus}">
                <div class="cst-modal__overlay"></div>
                <div class="cst-modal__content">
                    <div class="cst-modal__header">
                        <h4 class="cst-modal__title" style="margin: 0 auto;">Are you sure you want to Reject this Draw C/P Platform?</h4>
                        <button class="cst-modal__close" (click)="hideInActiveModal()">&times;</button>
                    </div>
                    <div class="cst-modal__footer">
                        <button class="cst-modal__button cst-modal__button--inactive" (click)="updateDataStatus()">Reject</button>
                        <button class="cst-modal__button cst-modal__button--cancel" (click)="hideInActiveModal()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- In Active Modal End -->
                
            <!-- Draw Filter Start -->
            <div class="content-card" id="drawcpFormDiv" *ngIf="drawRecordsFilterShow" style="margin-left: -10px !important; margin-top: -29px !important">
                <form [formGroup]="DrawManagementSearchForm" (ngSubmit)="fetchDrawRecords()">
                    
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>CP Form</mat-label>
                        <mat-select formControlName="formIdSearch" matSelect (selectionChange)="changeCPForm($event)">
                            <mat-option *ngFor="let cpFormData of cpFormData" [ngClass]="{'d-none': cpFormData.isActive === 'N'}" [value]="cpFormData.id"> {{cpFormData.cpformName}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>Vessel</mat-label>
                        <mat-select formControlName="vesselIdSearch" matSelect (selectionChange)="changeCPForm($event)">
                            <mat-option *ngFor="let VesselData of VesselData" [ngClass]="{'d-none': VesselData.isActive === 'N'}" [value]="VesselData.id"> {{VesselData.vessel_name}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field  class="full-width" appearance="outline" class="customFormfullWidth">
                        <mat-label>C/P Date* </mat-label>
                        <input formControlName="cpDateSearch" matInput [matDatepicker]="cpDateSearch" placeholder="C/P Date">
                        <mat-datepicker-toggle matSuffix [for]="cpDateSearch"></mat-datepicker-toggle>
                        <mat-datepicker #cpDateSearch></mat-datepicker>
                        <mat-error *ngIf="DrawManagementSearchForm.get('cpDateSearch').hasError('required')">
                            Date is required
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>Charterer*</mat-label>
                        <mat-select formControlName="chartererIdSearch" matSelect (selectionChange)="changeChartererType($event)">
                            <mat-option *ngFor="let ChartereInfoData of ChartereInfoData" [ngClass]="{'d-none': ChartereInfoData.isActive === 'N'}" [value]="ChartereInfoData.id"> {{ChartereInfoData.username}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>Identifier</mat-label>
                        <mat-select formControlName="drawCPIDSearch" matSelect (selectionChange)="changeCPForm($event)">
                            <mat-option *ngFor="let drawCPDataData of drawCPDataData" [ngClass]="{'d-none': drawCPDataData.isActive === 'N'}" [value]="drawCPDataData.id"> {{drawCPDataData.id}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>
                    <button class="cst-modal__button cst-modal__button--submit " type="submit">Search</button>
                </form>
            </div>
        <!-- Draw Filter End -->

        <!-- Draw Datatable Start -->
            <div class="main-tab" *ngIf="drawRecordsTableShow">
                <div class="header-row">
                    <div class="row-col-3" style="float:right">
                        <mat-form-field floatLabel="never" class="custom-search-field">
                            <mat-icon class="search">search</mat-icon> <input matInput (keyup)="applyFilterExecuted($event.target.value)" placeholder="Search">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <table mat-table [dataSource]="dataSourceFilter" *ngIf="drawRecordsTableShow" >
                <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> S NO. </th>
                    <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
                </ng-container> -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="action-head"> </th>
                    <td mat-cell *matCellDef="let element" class="action">
                        <mat-radio-button name="checkboxData" [value]="element.id" (click)="setDrawIDExecuted(element.id,element.formId,element.chartererId)"> </mat-radio-button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Identifier </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="cpDate">
                    <th mat-header-cell *matHeaderCellDef> CP Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.cpDate}} </td>
                </ng-container>
                <ng-container matColumnDef="chartererName">
                    <th mat-header-cell *matHeaderCellDef> Charter </th>
                    <td mat-cell *matCellDef="let element"> {{element.chartererName}} </td>
                </ng-container>
                <ng-container matColumnDef="ownerName">
                    <th mat-header-cell *matHeaderCellDef> Owner </th>
                    <td mat-cell *matCellDef="let element"> {{element.ownerName}} </td>
                </ng-container>
                <ng-container matColumnDef="vesselName">
                    <th mat-header-cell *matHeaderCellDef> Vessel </th>
                    <td mat-cell *matCellDef="let element"> {{element.vesselName}} </td>
                </ng-container>
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Progress </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-progress-bar mode="determinate" value="{{element.progress}}"></mat-progress-bar>    
                    </td>
                </ng-container>
                <ng-container matColumnDef="statusInfo">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element" ><h4 class="{{ element.classInfo }}">{{ element.statusInfo }}</h4></td>
                </ng-container>
                <ng-container matColumnDef="isAccepted" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="action-head" [ngClass]="{'d-none': chartererDivShow === 'N'}"> Accept / Reject</th>
                    <td mat-cell  *matCellDef="let row" class="action" [ngClass]="{'d-none': chartererDivShow === 'N'}">
                        <button mat-button class="click-icon click-icon--done" [disabled]="row.isAccepted === 'Y'"
                            (click)="showActiveModal('Y', row.drawStatusId)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                        </button>
                        <button mat-button class="click-icon click-icon--clear" [disabled]="row.isAccepted === 'N'"
                            (click)="showInActiveModal('N', row.drawStatusId)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator  *ngIf="drawRecordsTableShow" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <button *ngIf="drawRecordsTableShowButton" class="add-item add-item--back-button" style="float:right; margin: 30px !important;" (click)="getTermsReviewData()"> Submit</button>
        <!-- Draw Datatable End -->

        <!-- Draw Form Div Start -->
            <div class="content-card" *ngIf="drawFormDivShow" style="margin-top: -40px !important">
                <form [formGroup]="DrawManagementForm" (ngSubmit)="onSubmit()">
                    <!-- <br> -->
                    <!-- <mat-label class="labelCustom" style="margin-left: 10px !important">Select charter party type and it's year.</mat-label> -->
                    <!-- <br> -->
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>CP Form*</mat-label>
                        <mat-select formControlName="formId" matSelect (selectionChange)="changeCPForm($event)">
                            <mat-option *ngFor="let cpFormData of cpFormData" [ngClass]="{'d-none': cpFormData.isActive === 'N'}" [value]="cpFormData.id"> {{cpFormData.cpformName}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="DrawManagementForm.get('formId').hasError('required')"> CP Form Is Required</mat-error>
                    </mat-form-field>

                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>Vessel*</mat-label>
                        <mat-select formControlName="vesselId" matSelect (selectionChange)="changeVesselEvent($event)">
                            <mat-option *ngFor="let VesselData of VesselData" [ngClass]="{'d-none': VesselData.isActive === 'N'}" [value]="VesselData.id"> {{VesselData.vessel_name}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="DrawManagementForm.get('vesselId').hasError('required')"> Vessel Is Required</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field  class="customFormfullWidth" appearance="outline">
                        <mat-label>C/P Date* </mat-label>
                        <input formControlName="cpDate" matInput [matDatepicker]="picker" placeholder="C/P Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="DrawManagementForm.get('cpDate').hasError('required')">
                            Date is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>Charterer*</mat-label>
                        <mat-select formControlName="chartererId" matSelect (selectionChange)="changeChartererType($event)">
                            <mat-option *ngFor="let ChartereInfoData of ChartereInfoData" [ngClass]="{'d-none': ChartereInfoData.isActive === 'N'}" [value]="ChartereInfoData.id"> {{ChartereInfoData.username}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="DrawManagementForm.get('chartererId').hasError('required')"> Charterer Is Required</mat-error>
                    </mat-form-field>
                    <br>
                    <button class="cst-modal__button cst-modal__button--submit" type="submit">Submit</button>
                </form>
            </div>
        <!-- Draw Form Div End -->

        </div>
    </div>
</div>s