<div id="ofcm" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-9">
                <h2>Owner First Counter</h2>
            </div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <a
                        routerLink="/apps/ofc-management"> Owner First Counter</a>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
                
            <div class="content-card" *ngIf="mainScreen" style="margin-left: -10px !important; margin-top: -29px !important">
                <form [formGroup]="OwnersFirstCounterForm" (ngSubmit)="onSubmit()">
                    <br>
                    <mat-label class="labelCustom" style="margin-left: 20px !important">Charterers are pleased to accept owners counter bid with the following exception for reply.</mat-label>
                    <br>
                    <br>
                    <br>
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>CP Time* </mat-label>
                        <input matInput formControlName="cpTime" [ngxTimepicker]="picker">
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                        <mat-error *ngIf="OwnersFirstCounterForm.get('cpTime').hasError('required')">
                            CP Time is required
                        </mat-error>
                    </mat-form-field>
                    
                    <select class="customFormfullWidth dropdownCustomClass" formControlName="cityId"  (change)="changeCity($event)">
                        <option [value]="0">--- Select City ---</option>
                        <option *ngFor="let cityManagementData of cityManagementData"  [ngClass]="{'d-none': cityManagementData.isActive === 'N'}" [value]="cityManagementData.id">{{cityManagementData.cityName}}</option>
                    </select>

                    <mat-form-field  class="customFormfullWidth" appearance="outline">
                        <mat-label>C/P Date* </mat-label>
                        <input formControlName="cpDate" matInput [matDatepicker]="datePicker" placeholder="C/P Date">
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                        <mat-error *ngIf="OwnersFirstCounterForm.get('cpDate').hasError('required')">
                            Date is required
                        </mat-error>
                    </mat-form-field>

                    <div class="customFormfullWidthForClause" *ngFor="let clauseCategoryData of clauseCategoryData">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <!-- <mat-label  class="clauseLableCustom customMarginLeft20">{{ clauseCategoryData.srNo }}. {{ clauseCategoryData.name }}</mat-label> -->
                                        <mat-checkbox class="matCheckboxLayoutCustom matCheckboxCustom"> {{ clauseCategoryData.srNo }}. {{ clauseCategoryData.name }} </mat-checkbox>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <!-- <mat-form-field> -->
                                    <br>
                                    <hr>
                                    <br>
                                    <div class="customFormfullWidthForClause" *ngFor="let clauseTermsData of clauseCategoryData.clauseTermsData">
            
                                        <button mat-button class="clauseButtonCustom">
                                            <i class="material-icons" (click)="reviewModalShow(clauseTermsData.id,clauseTermsData.parentId);" >remove_red_eye</i>
                                        </button>
                
                                        <button mat-button class="click-icon click-icon--edit clauseButtonCustom">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="editdrawManagementData(row)">
                                                edit</mat-icon>
                                        </button>
                                        
                                        <!-- <mat-radio-button style="margin: 10px;" (click)="setClauseID(clauseTermsData.id)"> </mat-radio-button> -->
                                        <mat-checkbox> ( {{ clauseTermsData.srNoTerms }} ) {{ clauseTermsData.termsName }} </mat-checkbox>
                                        
            
                                    </div>
                                <!-- </mat-form-field> -->
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </form>

                <fuse-sidebar name="reviewPanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
                    
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="userName">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="updatedDateInfo">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.updatedDateInfo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="termsName">
                            <th mat-header-cell *matHeaderCellDef>  Clause Tracker </th>
                            <td mat-cell *matCellDef="let element"> {{element.termsName}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
                    
                </fuse-sidebar>

                <div class="review-modal" [ngClass]="{'review-modal--active' : showReviewModal}">
                    <div class="review-modal__overlay"></div>
                    <div class="review-modal__content">
                        <div class="" style="padding:15px;">
                            <button class="review-modal__close" style="float: right">&times;</button>
                        </div>
                        <div class="" style="padding:15px;">
                            <h4 class="review-modal__title" style="float:left">Amendments In Clause</h4>
                        </div>
                        <hr>
                        <div class="review-modal__body">
                            <!-- <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="userName">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="updatedBy">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                                </ng-container>
                                <ng-container matColumnDef="termsName">
                                    <th mat-header-cell *matHeaderCellDef> Clause Tracker </th>
                                    <td mat-cell *matCellDef="let element"> {{element.termsName}} </td>
                                </ng-container>
                            </table> -->
                        </div>
                        <div class="review-modal__footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>