<div id="dashboard-analytics" class="page-layout blank">
    <div class="main-widget">
        <div class="position-relative visitor_top_sec blue-600" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h1 top_heading">Dashboard</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="left mr-lg-32 visitor_view_sec" style="width: 500px;">
            <div class="fuse-card auto-width top-border visitor_fuse_card">
                <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">Vessel Search</span>
                    </div>
                </div>
                <div class="position-relative h-368 pb-16">
                    <form [formGroup]="vesselSearchForm" (ngSubmit)="tradingRecordsServerSideAccordingToVessel()" style="padding: 0px !important;">
                        <mat-form-field  class="customFormfullWidth" appearance="outline">
                            <mat-label>Vessel Name </mat-label>
                            <input formControlName="vesselName" matInput placeholder="Vessel Name" >
                        </mat-form-field>
                        <mat-form-field class="customFormfullWidth" appearance="outline">
                            <mat-label>CP Date </mat-label>
                            <input formControlName="cpDate" matInput [matDatepicker]="cpDatePicker" placeholder="CP Date" >
                            <mat-datepicker-toggle matSuffix [for]="cpDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #cpDatePicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="customFormfullWidthDropDown" appearance="outline" style="margin-bottom: -30px !important;">
                            <mat-label>Broker</mat-label>
                            <mat-select matSelect formControlName="brokerId">
                                <mat-option *ngFor="let brokerData of brokerRecordsServerSideResponseData" [ngClass]="{'d-none': brokerData.isActive === 'N'}" 
                                [value]="brokerData.id"> {{brokerData.username}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="customFormfullWidthDropDown" appearance="outline" style="margin-bottom: -30px !important;">
                            <mat-label>Charterer</mat-label>
                            <mat-select matSelect formControlName="chartererId">
                                <mat-option *ngFor="let chartererData of chartererRecordsServerSideResponseData" [ngClass]="{'d-none': chartererData.isActive === 'N'}" 
                                [value]="chartererData.id"> {{chartererData.username}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="customFormfullWidthDropDown" appearance="outline" style="margin-bottom: -30px !important;">
                            <mat-label>Owner</mat-label>
                            <mat-select matSelect formControlName="ownerId">
                                <mat-option *ngFor="let ownerData of ownerRecordsServerSideResponseData" [ngClass]="{'d-none': ownerData.isActive === 'N'}" 
                                [value]="ownerData.id"> {{ownerData.username}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="customFormfullWidthDropDown" appearance="outline" style="margin-bottom: -30px !important;">
                            <mat-label>Fixture ID</mat-label>
                            <mat-select matSelect formControlName="fixtureId">
                                <mat-option *ngFor="let fixtureData of tradingFixtureRecordsServerSideResponseData" [ngClass]="{'d-none': fixtureData.isActive === 'N'}" 
                                [value]="fixtureData.id"> {{fixtureData.identifier}} </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="customFormfullWidthDropDown" appearance="outline" style="margin-bottom: -30px !important;">
                            <mat-label>Location</mat-label>
                            <mat-select matSelect formControlName="cpCity">
                                <mat-option *ngFor="let cityData of cityRecordsServerSideResponseData" [ngClass]="{'d-none': cityData.isActive === 'N'}" 
                                [value]="cityData.id"> {{cityData.cityName}} </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div *ngIf="advanceView">
                            <br>
                            <br>
                            <mat-label style="margin-left: 25px; font-weight: bold;">Signed By </mat-label >
                            <br>
                            <br>
                            <mat-checkbox style="margin-left: 25px;" (change)="chartererSigned($event)">Charterer</mat-checkbox>
                            <mat-checkbox style="margin-left: 25px;" (change)="ownerSigned($event)">Owner</mat-checkbox>
                            <br>
                            <br>
                            <mat-label style="margin-left: 25px; font-weight: bold;">Not Signed By </mat-label>
                            <br>
                            <br>
                            <mat-checkbox style="margin-left: 25px;" (change)="chartererNotSigned($event)">Charterer</mat-checkbox>
                            <mat-checkbox style="margin-left: 25px;" (change)="ownerNotSigned($event)">Owner</mat-checkbox>
                            <br>
                            <br>
                        </div>
                        <br>
                        <br>
                        <button class="cst-modal__button cst-modal__button--submit " style="float: right; width: 220px; margin-right: 80px;" 
                        (click)="advanceOptionView()">Toggle Advance Option</button>
                        <button class="cst-modal__button cst-modal__button--submit " type="submit" style="float: right; width: 200px;" >Search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="mb-48" [ngClass.lt-lg]="''" [ngClass.xs]="'mr-0'">
                <div class="fuse-card top-border right_fuse_card" style="height: 575px !important;">
                    <div class="p-16">
                        <div class="h2 font-weight-300">Vessel Status</div>
                    </div>
                    <div class="h-390" style="max-height: 510px; height : 510px !important; overflow: scroll;">
                       

 <div class="h-200">
    <ngx-charts-pie-chart
        *fuseIfOnDom
        [scheme]="widgets.widget7.scheme"
        [results]="widgets.widget7.devices"
        [doughnut]="true">
    </ngx-charts-pie-chart>
</div>
<div class="status_tbl">
    <span class="h2" style="padding:2%;">Fixture Status </span>

    <table>
        <tr>
            <th>Active <span></span> </th>
            <th>C/p Signed <span></span></th>
            <th>C/P Not Signed<span></span> </th>
        </tr>
        <tr>
            <td>{{active}}</td>
            <td>{{Signed}}</td>
            <td>{{notSigned}}</td>
        </tr>
    </table>

    
</div>
                       
                        <!-- <div *ngFor="let dynamicData of userRecordsServerSideResponseData; let i= index" class="user_sec">
                            <img class="avatar" src="assets/images/avatars/Velazquez.jpg">
                            <span>{{ dynamicData.username }}</span>
                            <button class="view_btn">View</button>
                        </div> -->
<!-- 
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
                            <div class="fuse-widget-front">
                                <div class="h-400">
                                    <ngx-charts-pie-chart
                                        *fuseIfOnDom
                                        >
                                    </ngx-charts-pie-chart>
                                </div>

                                <div class="py-8 mh-16 border-top" fxLayout="row wrap" fxLayoutAlign="start center">

                                    <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center"
                                            fxFlex="100" fxFlex.gt-sm="50">
                                        <span class="mat-display-1 mb-0">
                                            {{widgets.widget6.footerLeft.count[widget6.currentRange]}}
                                        </span>
                                        <span class="h4">{{widgets.widget6.footerLeft.title}}</span>
                                    </div>

                                    <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
                                            fxFlex.gt-sm="50">
                                        <span class="mat-display-1 mb-0">
                                            {{widgets.widget6.footerRight.count[widget6.currentRange]}}
                                        </span>
                                        <span class="h4">{{widgets.widget6.footerRight.title}}</span>
                                    </div>
                                </div>
                            </div>
                        </fuse-widget> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination -->
        <div class="pagination_sec" style="margin-top: 100px;">
            <button class="cst-modal__button cst-modal__button--submit " style="margin: 20px;width: 200px;padding: 10px;" (click)="tradingRecordsServerSide()" > Progress Report</button>
            <button class="cst-modal__button cst-modal__button--submit " style="margin: 20px;width: 200px;padding: 10px;" (click)="tradingRecordsServerSideArchvied()"> Archived Fixture</button>
            <div class="">
                <table mat-table [dataSource]="tradingRecordsData">
                    <ng-container matColumnDef="identifier">
                        <th mat-header-cell *matHeaderCellDef> Identifier </th>
                        <td mat-cell *matCellDef="let element"> {{element.identifier}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cpDateInfo">
                        <th mat-header-cell *matHeaderCellDef> CP Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.cpDateInfo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="brokerName">
                        <th mat-header-cell *matHeaderCellDef [ngClass]="{'d-none': isBrokerView === 'Y'}"> Broker </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'d-none': isBrokerView === 'Y'}"> {{element.brokerName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="chartererName">
                        <th mat-header-cell *matHeaderCellDef [ngClass]="{'d-none': isChartererView === 'Y'}"> Charterer </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'d-none': isChartererView === 'Y'}"> {{element.chartererName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ownerName">
                        <th mat-header-cell *matHeaderCellDef [ngClass]="{'d-none': isOwnerView === 'Y'}"> Owner </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'d-none': isOwnerView === 'Y'}"> {{element.ownerName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="vesselName">
                        <th mat-header-cell *matHeaderCellDef> Vessel </th>
                        <td mat-cell *matCellDef="let element"> {{element.vesselName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="progress">
                        <th mat-header-cell *matHeaderCellDef> Progress </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-progress-bar mode="determinate" value="{{element.progress}}"></mat-progress-bar>    
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="statusInfo">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element" ><h4 class="{{ element.classInfo }}">{{ element.statusInfo }}</h4></td>
                    </ng-container>
                   
                    <tr mat-header-row *matHeaderRowDef="tradingRecordsDisplayColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: tradingRecordsDisplayColumn;"></tr>
                </table>
                <mat-paginator #paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

            </div>

        </div>
    </div>
</div>
<!-- <h2>Dashboard</h2> -->
<!-- </div>
</div> -->