<div id="message" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-9">
                <h2>Chat Management</h2>
            </div>
            <div class="row-col-6"></div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> >  Chat Management
                </div>
            </div>
        </div>
        <!-- Chat Records Server Side Start -->
        <div class="mat-elevation-z8" *ngIf="chatTableDiv">
            <div class="content-card" style="margin: 35px; width: 95%; margin-top: 10px;">
                <table>
                    <tr>
                        <th style="width:80%; text-align: left;">
                            <label style="font-size: 25px;">Chat Management </label>
                            <label style="font-size: 25px; margin-left: 18px; color: green;"> {{ newMessageTitle }} </label>
                        </th>
                        <th>
                            <button class="add-item add-item--main-button" style="width: 200px !important; margin-top: -20px; margin-right: -140px;" 
                            (click)="showHideModules(2)">Create Chat</button>
                        </th>
                    </tr>
                </table>
                <hr>
                <table>
                    <tr>
                        <th style="width: 50px; text-align: left;">
                            <label style="font-size: 25px;">#</label>
                        </th>
                        <th style="width: 300px; text-align: left;">
                            <label style="font-size: 25px;">User</label>
                        </th>
                        <td style="text-align: left;">
                            <h4 style="font-size: 22px; font-weight: 700;">Message</h4>
                        </td>
                    </tr>
                    <tr *ngFor="let cmra of chatManagementResponseArray; let i= index" >
                        <th style="width: 50px; text-align: left;">
                            <label style="font-size: 25px;">{{ i + 1 }}</label>
                        </th>
                        <th style="width: 300px; text-align: left;">
                            <label (click)="fetchChatDetails(cmra.user2,cmra.toUserName)" style="font-size: 25px; cursor: pointer;">{{ cmra.toUserName }}</label>
                        </th>
                        <td style="text-align: left;">
                            <h4 (click)="fetchChatDetails(cmra.user2,cmra.toUserName)" [ngClass]="{'d-none': cmra.isFetched == 'Y'}" style="font-size: 22px; font-weight: 700; cursor: pointer;">{{ cmra.message }}</h4>
                            <h4 (click)="fetchChatDetails(cmra.user2,cmra.toUserName)" [ngClass]="{'d-none': cmra.isFetched == 'N'}" style="font-size: 22px; cursor: pointer;">{{ cmra.message }}</h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Chat Records Server Side End -->
        <!-- Chat Form Start -->
        <div class="mat-elevation-z8" *ngIf="chatFormDiv" style="margin-top: 50px;">
            <div class="content-card" style="margin: 35px; width: 95%; margin-top: 10px;">
                <table>
                    <tr>
                        <th style="width:80%; text-align: left;">
                            <label style="font-size: 25px; margin-left: 18px;">Create Chat</label>
                        </th>
                        <th>
                            <button class="add-item add-item--main-button" style="width: 200px !important; margin-top: 0px;" (click)="showHideModules(1)">Back</button>
                        </th>
                    </tr>
                </table>
                <hr>
                <form [formGroup]="chatManagementForm" (ngSubmit)="chatManagementFormSubmit()">
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>User Type*</mat-label>
                        <mat-select formControlName="userType" matSelect (selectionChange)="viewUserByUserTypeVise($event)" >
                            <mat-option [value]="1"> Broker </mat-option>
                            <mat-option [value]="2"> Charterer </mat-option>
                            <mat-option [value]="3"> Owner </mat-option>
                        </mat-select>
                        <mat-error *ngIf="chatManagementForm.get('userType').hasError('required')"> User Type Is Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>User*</mat-label>
                        <mat-select formControlName="userId" matSelect >
                            <mat-option 
                                *ngFor="let commonUserOptionArray of commonUserOptionArray" 
                                [ngClass]="{'d-none': commonUserOptionArray.isActive === 'N' || currentUserId == commonUserOptionArray.id}" 
                                [value]="commonUserOptionArray.id"
                            > 
                                {{commonUserOptionArray.username}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="chatManagementForm.get('userId').hasError('required')"> User Is Required</mat-error>
                    </mat-form-field>
                    <mat-form-field  class="customFormfullWidthTextArea" appearance="outline">
                        <mat-label>Message* </mat-label>
                        <input matInput formControlName="message">
                        <mat-error *ngIf="chatManagementForm.get('message').hasError('required')"> Message is required</mat-error>
                    </mat-form-field>
                    <br>
                    <button class="cst-modal__button cst-modal__button--submit " type="submit">Save</button>
                </form>
            </div>
        </div>
        <!-- Chat Form End -->
        <!-- Chat Details Start -->
        <div class="mat-elevation-z8" *ngIf="chatDetailsDiv">
            <div class="content-card" style="margin: 35px; width: 95%; margin-top: 10px;">
                <table>
                    <tr>
                        <th style="width:80%; text-align: left;">
                            <label style="font-size: 25px;"> {{ toUserName }}  </label>
                        </th>
                        <th>
                            <button class="add-item add-item--main-button" style="width: 200px !important; margin-top: -20px; margin-right: -140px;" 
                            (click)="showHideModules(1)">Back</button>
                        </th>
                    </tr>
                </table>
                <hr>
            </div>
            <div class="content-card" style="margin: 35px; width: 95%; margin-top: 10px; height: 200px !important; max-height: 500px !important; overflow: scroll;">
                <table >
                    <tr *ngFor="let chatDetails of chatManagementDetailsResponseArray; let i= index" >
                        <br>
                        <th style="width: 100%; text-align: left;" [ngClass]="{'d-none': chatDetails.senderId == currentUserId}" >
                            <label style="font-size: 25px;">{{ chatDetails.message }}</label>
                        </th>
                        <br>
                        <th style="width: 100%; text-align: right" [ngClass]="{'d-none': chatDetails.senderId != currentUserId}" >
                            <label style="font-size: 25px;">{{ chatDetails.message }}</label>
                        </th>
                         <th style="width: 100%; text-align: left;" [ngClass]="{'d-none': chatDetails.senderId == currentUserId}" >
                            <label style="font-size: 25px;">{{ msg }}</label>
                        </th>
                        <br>
                        <th style="width: 100%; text-align: right" [ngClass]="{'d-none': chatDetails.senderId != currentUserId}" >
                            <label style="font-size: 25px;">{{ msg }}</label>
                        </th>
                        <br>
                        <br>
                        <br>
                        <br>
                    </tr>
                </table >
            </div>
            <div class="content-card" style="margin: 35px; width: 95%; margin-top: 10px;">
                <table>
                    <tr>
                        <th style="width:90%; text-align: left;">
                            <input matInput [(ngModel)]="chatMessage" (keyup.enter)="sendMessage()" style="border: 1px #0000004a solid;
                            border-radius: 10px;
                            height: 50px;
                            font-size: 25px;
                            font-weight: bold;">
                        </th>
                        <th>
                            <button class="add-item add-item--main-button" style="width: 200px !important;" 
                            (click)="sendMessage()">Send</button>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Chat Details End -->
    </div>
</div>