<div id="draw" class="page-layout simple left-sidebar inner-sidebar">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-3">
                <h2>Draw C/P</h2>
            </div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > Draw C/P
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <div class="main-tab">
                <div class="" style="float: right;
                text-align: right;
                margin-right: 5%;">
                    <div class="header-row">
                        <div class="">
                            <h4 style="padding-bottom: 0;"> Owners : Vishal Upadhyay </h4>
                        </div>
                    </div>
                </div>
                <div class="" style="width: 100%;
                float: right;
                text-align: right;
                margin-right: -100%;
                margin-top: 2%;">
                    <div class="header-row">
                        <div class="">
                            <h4 style="padding-bottom: 0;"> Owners : Vishal Upadhyay </h4>
                        </div>
                    </div>
                </div>
                <div class="" style="width: 100%;
                float: right;
                text-align: right;
                margin-right: -100%;
                margin-top: 4%;">
                    <div class="header-row">
                        <div class="">
                            <h4 style="padding-bottom: 0;"> Owners : Vishal Upadhyay </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-tab">
                <div class="header-row">
                    <div class="row-col-3">
                        <button class="previous-button" routerLink="/apps/clause-category-management/add"> Previous </button>
                    </div>
                    <div class="row-col-6">
                        
                    </div>
                    <div class="row-col-3">
                            <button class="next-button" routerLink="/apps/clause-category-management/add"> Next </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>