<div id="draw" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-3">
                <h2>Draw Management</h2>
            </div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <a
                        routerLink="/apps/draw-management"> Draw Management </a> > <b> Draw Management Edit </b>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <div class="main-tab">
                <div class="header-row">
                    <div class="row-col-3">
                        <h2 style="padding-bottom: 0;"> Edit Draw C/P </h2>
                    </div>
                    <div class="row-col-3">
                        <button routerLink="/apps/draw-management" class="add-item add-item--back-button"> Back
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="content-card" style="margin-top: -40px !important">
                <form [formGroup]="DrawManagementForm" (ngSubmit)="onSubmit()">
                    <select style="margin-left: 10px !important; margin-top: 20px !important;" class="customFormfullWidth" placeholder="select C/P Form" formControlName="formId"  (change)="changeCPForm($event)" required>
                        <option [value]="0">--- Select ---</option>
                        <option *ngFor="let cpformData of cpFormData"  [ngClass]="{'d-none': cpformData.isActive === 'N'}" [value]="cpformData.id">{{cpformData.cpformName}}</option>
                    </select>
                    <select class="customFormfullWidth" placeholder="select C/P Form" formControlName="vesselId"  (change)="changeVesselEvent($event)">
                        <option [value]="0">--- Select ---</option>
                        <option *ngFor="let VesselData of VesselData"  [ngClass]="{'d-none': VesselData.isActive === 'N'}" [value]="VesselData.id">{{VesselData.vessel_name}}</option>
                    </select>
                    <mat-form-field  class="customFormfullWidth" appearance="outline">
                        <mat-label>C/P Date* </mat-label>
                        <input formControlName="cpDate" matInput [matDatepicker]="picker" placeholder="C/P Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="DrawManagementForm.get('cpDate').hasError('required')">
                            Date is required
                        </mat-error>
                    </mat-form-field>
                    <select class="customFormfullWidth" placeholder="select Charter" formControlName="chartererId"  (change)="changeChartererType($event)">
                        <option [value]="0">--- Select ---</option>
                        <option *ngFor="let ChartereInfoData of ChartereInfoData"  [ngClass]="{'d-none': ChartereInfoData.isActive === 'N'}"  [value]="ChartereInfoData.id">{{ChartereInfoData.username}}</option>
                    </select>
                    <br>
                    <button class="cst-modal__button cst-modal__button--submit" type="submit">Submit</button>
                </form>
            </div>
            <!-- <div class="content-card">
                <form [formGroup]="DrawManagementForm" (ngSubmit)="onSubmit()">
                    <select placeholder="select C/P Form" formControlName="formId"  (change)="changeCPForm($event)" required>
                        <option [value]="0">--- Select ---</option>
                        <option *ngFor="let cpformData of cpFormData"  [ngClass]="{'d-none': cpformData.isActive === 'N'}" [value]="cpformData.id">{{cpformData.cpformName}}</option>
                    </select>
                    <select placeholder="select C/P Form" formControlName="vesselId"  (change)="changeVesselEvent($event)">
                        <option [value]="0">--- Select ---</option>
                        <option *ngFor="let VesselData of VesselData"  [ngClass]="{'d-none': VesselData.isActive === 'N'}" [value]="VesselData.id">{{VesselData.vessel_name}}</option>
                    </select>
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>C/P Date* </mat-label>
                        <input value="2019-06-06" formControlName="cpDate" matInput [matDatepicker]="picker" placeholder="C/P Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="DrawManagementForm.get('cpDate').hasError('required')">
                            Date is required
                        </mat-error>
                    </mat-form-field>
                    <select placeholder="select Charter" formControlName="chartererId"  (change)="changeChartererType($event)">
                        <option [value]="0">--- Select ---</option>
                        <option *ngFor="let ChartereInfoData of ChartereInfoData"  [ngClass]="{'d-none': ChartereInfoData.isActive === 'N'}"  [value]="ChartereInfoData.id">{{ChartereInfoData.username}}</option>
                    </select>
                    <br>
                    <button class="cst-modal__button cst-modal__button--submit" type="submit">Submit</button>
                </form>
            </div> -->
        </div>
    </div>
</div>