<div id="vessel" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <!-- <div class="header-row">
            <div class="col m3 l3">
                <h2 class="text-left" >Draw C/P</h2>
            </div>
            <div class="col l6 m6"></div>
            <div class="col s3 m3">
                <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <b>Draw
                    C/P </b>
            </div>
        </div> -->
        <div class="header-row">
            <div class="row-col-3">
                <h2 style="float: left;">Draw C/P</h2>
            </div>
            <div class="row-col-6"></div>

            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <b>
                        Draw c/p </b>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">

            <div class="main-tab">
                <div class="header-row">
                    <div style="text-align:left;" class="row-col-3">
                        <span>Edit Caluses</span>
                    </div>
                    <hr />
                </div>
                <div class="header-row">
                    <div *ngFor="let c of drawcluases; let i=index" class="row-col-3 ">
                        <span class="mat-caption"> {{i+1}} )  </span>
                        <mat-checkbox value= "{{c.id}}" (change)="clusesAdd(c.id,c.name);">{{c.name}}</mat-checkbox>
                    </div>
                    
                   
                </div>
                <div class="header-row">
                    <div class="row-col-6 text-left">
                        <button class="add-item add-item--back-button" routerLink="/apps/drawCp-Clauses-management">Previous</button>
                    </div>

                    <div class="row-col-6 text-right">
                        <button class="submit-item submit-item--back-button "  (click)="nextcomponent();" >Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>