<div id="ofcm" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-9">
                <h2>{{pageTitle}}</h2>
            </div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <a
                        routerLink="/apps/ofc-management"> {{pageTitle}}</a>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
                
            <div class="content-card" *ngIf="mainScreen" style="margin-left: -10px !important; margin-top: -29px !important">
                <form [formGroup]="OwnersFirstCounterForm" (ngSubmit)="onSubmit()">
                    <br>
                    <!-- <mat-label class="labelCustom" style="margin-left: 20px !important">Charterers are pleased to accept owners counter bid with the following exception for reply.</mat-label> -->
                    <br>
                    <br>
                    <br>
                    <mat-form-field class="customFormfullWidth" appearance="outline">
                        <mat-label>CP Time* </mat-label>
                        <input matInput formControlName="cpTime" [ngxTimepicker]="picker">
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                        <mat-error *ngIf="OwnersFirstCounterForm.get('cpTime').hasError('required')">
                            CP Time is required
                        </mat-error>
                    </mat-form-field>
                    
                    <select class="customFormfullWidth dropdownCustomClass" formControlName="cityId"  (change)="changeCity($event)">
                        <option [value]="0">--- Select City ---</option>
                        <option *ngFor="let cityManagementData of cityManagementData"  [ngClass]="{'d-none': cityManagementData.isActive === 'N'}" [value]="cityManagementData.id">{{cityManagementData.cityName}}</option>
                    </select>

                    <mat-form-field  class="customFormfullWidth" appearance="outline">
                        <mat-label>C/P Date* </mat-label>
                        <input formControlName="cpDate" matInput [matDatepicker]="datePicker" placeholder="C/P Date">
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                        <mat-error *ngIf="OwnersFirstCounterForm.get('cpDate').hasError('required')">
                            Date is required
                        </mat-error>
                    </mat-form-field>

                    <div class="customFormfullWidthForClause" *ngFor="let clauseCategoryData of termsReviewRecordsData; let i= index">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <!-- <mat-label  class="clauseLableCustom customMarginLeft20">{{ clauseCategoryData.srNo }}. {{ clauseCategoryData.name }}</mat-label> -->
                                        <mat-checkbox [checked]="clauseCategoryData.isChecked === 'Y'" class="matCheckboxLayoutCustom matCheckboxCustom" (click)="checkclick(clauseCategoryData.id)" ><b>{{i+1}} </b>. {{ clauseCategoryData.name }} </mat-checkbox>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <!-- <mat-form-field> -->
                                    <br>
                                    <hr>
                                    <br>
                                    <table>
                                        <tr *ngFor="let ct of clauseCategoryData.clauseCategoryTerms;let si=index">
                                            <td><i class="material-icons" (click)="view('viewMainClausePanel',ct.id,clauseCategoryData.id)">remove_red_eye</i></td>
                                            <td>
                                                <i class="material-icons" (click)="editToggle('editPanel',ct.id,clauseCategoryData.id)" aria-label="Toggle quick panel" style="color: #1e88e5;">create</i>
                                            </td>
                                            <td><mat-checkbox [checked]="ct.isChecked === 'Y'"></mat-checkbox></td>
                                            <td style="width:100%" >
                                                <span><b>{{ct.identifier}})</b> </span><span [innerHtml]="ct.mainTermRecord"></span>
                                            </td>
                                            <!-- <ng-container *ngIf="termsReviewRecordsData[i].clauseCategoryTerms[si].clauseCategoryTermsUpdate">
                                                <td style="width:100%" *ngFor="let ot of termsReviewRecordsData[i].clauseCategoryTerms[si].clauseCategoryTermsUpdate;let ti=index">
                                                    <span>{{ti+1}})</span>
                                                    <span><s>{{ot.originalTermsName}}</s></span>
                                                    <br/>
                                                    <span>{{ot.termsName}}</span>
                                                    <br>
                                                    <br>
                                                    <br>
                                                </td>
                                            </ng-container> -->
                                        </tr>
                                        <br/>
                                    </table>
                                    <br />
                                    <br />
                                    <b *ngIf="clauseCategoryData.clauseCategoryTermsUpdateCustom !=0">Customet Amendments</b>
                                    <table *ngIf="clauseCategoryData.clauseCategoryTermsUpdateCustom !=0">
                                        <tr *ngFor="let ct of clauseCategoryData.clauseCategoryTermsUpdateCustom;let ti=index">
                                            <td><i class="material-icons" (click)="reviewModalShow('viewMainClausePanel',ct.id,clauseCategoryData.id)">remove_red_eye</i></td>
                                            <td>
                                                <i class="material-icons" (click)="editToggle('editPanel',ct.id,clauseCategoryData.id)" aria-label="Toggle quick panel" style="color: #1e88e5;">create</i>
                                            </td>
                                            <td><mat-checkbox></mat-checkbox></td>
                                            <td style="width:100%" >
                                                <span> <b>{{ct.identifier}})</b> </span><span [innerHtml]="ct.mainTermRecordCustom"></span>
                                            </td>
                                            
                                            <!-- <ng-container *ngIf="termsReviewRecordsData[i].clauseCategoryTerms[si].clauseCategoryTermsUpdate">
                                                <td style="width:100%" *ngFor="let ot of termsReviewRecordsData[i].clauseCategoryTerms[si].clauseCategoryTermsUpdate;let ti=index">
                                                    <span>{{ti+1}})</span>
                                                    <span><s>{{ot.originalTermsName}}</s></span>
                                                    <br/>
                                                    <span>{{ot.termsName}}</span>
                                                    <br>
                                                    <br>
                                                    <br>
                                                </td>
                                            </ng-container> -->
                                        </tr>
                                        <br/>
                                    
                                    </table>

                                    <br />
                                    <br />

                                    <div class="row" style="padding: 3% 0;">
                                        <button class="mat-fab mat-accent" (click)="toggleOpen('addPanel',clauseCategoryData.id)" aria-label="Toggle quick panel"><span class="mat-button-wrapper" style="font-size: 70px !important; color: #fff !important; padding: 6px 0px !important;">+</span></button>
                                    </div>
                                    <br />
                                    <br />
 
                                    
                                    <!-- </mat-form-field> -->
                            </mat-expansion-panel>
                        </mat-accordion>

             
                    </div>
                </form>
                <br />
                <br />
                <div class="text-right">
                    <button class="submit-item submit-item--back-button" (click)="submit()" style="margin: 30px" >Submit</button>
                </div>
                <br />
                <br />
                <!-- view main terms  -->
                <!-- <fuse-sidebar name="reviewPanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
                    
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="userName">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="updatedDateInfo">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.updatedDateInfo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="termsName">
                            <th mat-header-cell *matHeaderCellDef>  Clause Tracker </th>
                            <td mat-cell *matCellDef="let element"> {{element.termsName}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
                    
                </fuse-sidebar> -->

                <div class="review-modal" [ngClass]="{'review-modal--active' : showReviewModal}">
                    <div class="review-modal__overlay"></div>
                    <div class="review-modal__content">
                        <div class="" style="padding:15px;">
                            <button class="review-modal__close" style="float: right">&times;</button>
                        </div>
                        <div class="" style="padding:15px;">
                            <h4 class="review-modal__title" style="float:left">Amendments In Clause</h4>
                        </div>
                        <hr>
                        <div class="review-modal__body">
                            <!-- <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="userName">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="updatedBy">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                                </ng-container>
                                <ng-container matColumnDef="termsName">
                                    <th mat-header-cell *matHeaderCellDef> Clause Tracker </th>
                                    <td mat-cell *matCellDef="let element"> {{element.termsName}} </td>
                                </ng-container>
                            </table> -->
                        </div>
                        <div class="review-modal__footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<fuse-sidebar name="viewMainClausePanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
    <!-- <add-detail-clause></add-detail-clause> -->
    <div class="heading center">
        <div class="mat-elevation-z8" style="padding: 2%;">
            <table mat-table [dataSource]="dataSource" class="viewtable" >
                       
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.mainUserName}} </td>
                </ng-container>
                <ng-container matColumnDef="updatedDateInfo">
                    <th mat-header-cell *matHeaderCellDef>  Date </th>
                    <td mat-cell *matCellDef="let element" > {{element.updateDateTime}} </td>
                </ng-container>
                <ng-container matColumnDef="clauseTracker">
                    <th mat-header-cell *matHeaderCellDef> Clause Tracker </th>
                    <td mat-cell *matCellDef="let element" > <span [innerHtml]="element.termsName"></span> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
      
            </div>
            
    </div>
</fuse-sidebar>

<fuse-sidebar name="addPanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
    <!-- <add-detail-clause></add-detail-clause> -->
    <!-- hello -->
    <div class="heading center">
        <div class="mat-elevation-z8" style="padding: 2%;">
            <div class="">
                <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="customClause" name="customClause">
                </angular-editor>
            </div>
        </div>

        <div class="header-row text-right">
            <div style="width: 100%; padding: 3% 0;">
                <button class="submit-item submit-item--back-button" (click)="addClause()">Add</button>
            </div>

        </div>
    </div>
</fuse-sidebar>

<fuse-sidebar name="editPanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
    <!-- <add-detail-clause></add-detail-clause> -->
    <div class="heading center">
        <div class="mat-elevation-z8" style="padding: 2%;">
            <div class="">
                <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="editclausetext"
                    name="editclausetext"></angular-editor>
            </div>
        </div>

        <div class="header-row text-right">
            <div style="width: 100%; padding: 3% 0;">
                <button class="submit-item submit-item--back-button" (click)="editterms(editid)">Edit</button>
            </div>


        </div>
    </div>
</fuse-sidebar>

<fuse-sidebar name="customPanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
    <!-- <add-detail-clause></add-detail-clause> -->
    <div class="heading center">
        <form>
            <div class="mat-elevation-z8" style="padding: 2%;">
                <div class="">
                    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="editclausetext"
                        name="editclausetext"></angular-editor>
                </div>
            </div>
            <div class="header-row text-right">
                <div style="width: 100%; padding: 3% 0;">
                    <button class="submit-item submit-item--back-button" (click)="customEdit(editid)">Edit</button>
                </div>


            </div>
        </form>
    </div>
</fuse-sidebar>


<!-- view custome terms  -->
<fuse-sidebar name="viewcustomclausePanel" style="max-width: 60%;  width: 60%;" position="right" class="quick-panel">
    <!-- <add-detail-clause></add-detail-clause> -->
    <div class="heading center">
            <div class="mat-elevation-z8" style="padding: 2%;">
                <table mat-table [dataSource]="dataSourcecustom" >
                       
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.mainUserName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="updatedDateInfo">
                        <th mat-header-cell *matHeaderCellDef>  Date </th>
                        <td mat-cell *matCellDef="let element"> <span [innerHtml]="element.updateDateTime"></span> </td>
                    </ng-container>
                    <ng-container matColumnDef="clauseTracker">
                        <th mat-header-cell *matHeaderCellDef> Clause Tracker </th>
                        <td mat-cell *matCellDef="let element"> {{element.termsName}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
          
            </div>
        
    </div>
</fuse-sidebar>

